* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    background: rgb(249, 208, 21);
    background: linear-gradient(90deg, rgba(249, 208, 21, 1) 0%, rgba(250, 190, 7, 0.5718662464985995) 0%, rgba(161, 141, 11, 0.927608543417367) 100%);
}

.img-header {
    width: 150px;
    border-radius: 50px;
    top: 27px;
    left: 70px;
    z-index: 1;
    position: fixed;
    z-index: 999;
}

.header__inner {
    width: 100%;
    max-width: 1273px;
    margin: 27px 0 278px 0;
    background-color: transparent;
}

.header__content {
    margin-top: 55px;
    border-radius: 50px;
    height: 55px;
    background-color: chocolate;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;

}

.header__links {
    text-decoration: none;
    font-family: 'Poppins';
    margin-left: 94px;
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
    z-index: 1;
}

.section__inner {
    width: 100%;
    max-width: 1273px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
    background-color: transparent;
}

.section__leftbloc {}

.section__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
}

.section__title {
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 500;
    color: chocolate;
}

.section__title-personalized {
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 500;
    color: #333;
}

.section__subtitle {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.56px;
    color: #000;
}

.section__button {
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 700;
    color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 162px;
    height: 54px;
    border-radius: 48px;
    background-color: chocolate;
}

.section__rightbloc {
    display: flex;
    justify-content: center;
}

.section__seta-esquerda {
    display: inline-block;

}

.section__prato-principal {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 150px;
}

.section__left-arrow {
    width: 100px;
}


.img__prato-principal {
    z-index: 0;
    width: 378px;
    height: 356px;

    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
}

.section__right-arrow {
    width: 100px;
}

.section__right-subprato1 {
    position: absolute;
    top: 400px;
    right: 800px;

    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
}

.section__right-subprato2 {
    position: absolute;
    top: 270px;
    right: 650px;

    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
}

.section__right-subprato3 {
    position: absolute;
    top: 200px;
    right: 430px;

    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
}

.section__right-subprato4 {
    position: absolute;
    top: 270px;
    right: 230px;

    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
}

.section__right-subprato5 {
    position: absolute;
    top: 420px;
    right: 80px;

    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
}

.cardapio__inner {
    width: 100%;
    max-width: 1273px;
    margin-bottom: 200px;
}

.cardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section__title-cardapio {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 35px;
    text-align: center;
    margin-bottom: 70px;
    font-weight: 200;

    background-color: chocolate;
    border-radius: 50px;
}

.cardapio__img {
    width: 20%;
    border-radius: 30px;
    border: 2px solid #000;
    margin-bottom: 20px;

    /*lupa*/
    -webkit-transform: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.cardapio__img:hover {
    -webkit-transition: scale(1.7);
    -moz-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7);
}

.footer__inner {
    width: 100%;
    max-width: 1273px;
}

.footer__contatos {
    color: #FFF;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 35px;
    text-align: center;
    background-color: chocolate;
    border-radius: 50px;
    margin-bottom: 30px;
}

.footer__redes {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}


.footer__links {
    height: 50px;
    text-decoration: none;
}

.footer__img-wpp {
    padding-top: 10px;
    width: 35px;
}

.footer__img-instagram {
    padding-top: 5px;
    width: 45px;
}